<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Book Shop</title>
</head>
<body>
    <header>
        <h1>Book Shop</h1>
        <ul class="navigation">
            <li><a href="/">Home</a></li>
            <li><a href="/books">Book List</a></li>
            <li><a href="/books/new">Add New Books</a></li>
        </ul>
    </header>
    {% block content %}
    
    {% endblock %}
</body>
</html>